<div class="min-h-screen pt-8 pb-8 flex flex-col justify-start bg-custom-white fade-in">
    <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
        <!-- About Me Section -->
        <section class="mb-12">
            <h1 class="text-3xl sm:text-4xl md:text-5xl font-bold mb-6 sm:mb-8 text-custom-purple">About Me</h1>
            <p class="text-base sm:text-lg md:text-xl text-custom-gray mb-4">
                Developing websites that blend elegance and functionality is my passion. As a Junior Front-End Developer
                at Ad Evolutio, I specialize in crafting dynamic, responsive real estate platforms using Angular and
                Tailwind CSS. Every line of code is an opportunity to create engaging, intuitive digital experiences.
            </p>
            <p class="text-base sm:text-lg md:text-xl text-custom-gray mb-4">
                My journey into web development started with a deep love for design and problem-solving. Over time, I’ve
                honed my expertise in integrating real-time data through REST APIs, creating compelling data
                visualizations
                with Highcharts, and bringing maps to life using Leaflet and GeoJSON.
            </p>
            <p class="text-base sm:text-lg md:text-xl text-custom-gray mb-4">
                With a solid background in content management and back-office operations, I approach each project with a
                comprehensive understanding of both the front and back ends. My goal is to deliver seamless,
                user-focused websites
                that not only look great but perform flawlessly across all devices.
            </p>
        </section>

        <!-- My Stack Section -->
        <section class="mb-12 fade-in">
            <h2 class="text-2xl sm:text-3xl md:text-4xl font-semibold mb-4 sm:mb-6 md:mb-8 text-custom-purple">My Stack
            </h2>
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
                <!-- Card items adjusted for responsiveness -->
                <div
                    class="bg-custom-white rounded-lg shadow-lg p-4 sm:p-6 transition-transform transform hover:scale-105 hover:shadow-xl hover:bg-gray-50 duration-300">
                    <h3 class="text-base sm:text-lg md:text-xl font-semibold mb-2 text-custom-gray">Dynamic & Responsive
                        Websites</h3>
                    <p class="text-custom-gray">Developed dynamic and responsive real estate websites using AngularJS.
                    </p>
                </div>
                <div
                    class="bg-custom-white rounded-lg shadow-lg p-4 sm:p-6 transition-transform transform hover:scale-105 hover:shadow-xl hover:bg-gray-50 duration-300">
                    <h3 class="text-base sm:text-lg md:text-xl font-semibold mb-2 text-custom-gray">Tailwind CSS</h3>
                    <p class="text-custom-gray">Utilized Tailwind CSS for consistent and efficient styling.</p>
                </div>
                <div
                    class="bg-custom-white rounded-lg shadow-lg p-4 sm:p-6 transition-transform transform hover:scale-105 hover:shadow-xl hover:bg-gray-50 duration-300">
                    <h3 class="text-base sm:text-lg md:text-xl font-semibold mb-2 text-custom-gray">Dynamic & Responsive
                        Websites</h3>
                    <p class="text-custom-gray">Developed dynamic and responsive real estate websites using AngularJS.
                    </p>
                </div>
                <div
                    class="bg-custom-white rounded-lg shadow-lg p-4 sm:p-6 transition-transform transform hover:scale-105 hover:shadow-xl hover:bg-gray-50 duration-300">
                    <h3 class="text-base sm:text-lg md:text-xl font-semibold mb-2 text-custom-gray">Tailwind CSS</h3>
                    <p class="text-custom-gray">Utilized Tailwind CSS for consistent and efficient styling.</p>
                </div>
                <div
                    class="bg-custom-white rounded-lg shadow-lg p-4 sm:p-6 transition-transform transform hover:scale-105 hover:shadow-xl hover:bg-gray-50 duration-300">
                    <h3 class="text-base sm:text-lg md:text-xl font-semibold mb-2 text-custom-gray">Dynamic & Responsive
                        Websites</h3>
                    <p class="text-custom-gray">Developed dynamic and responsive real estate websites using AngularJS.
                    </p>
                </div>
                <div
                    class="bg-custom-white rounded-lg shadow-lg p-4 sm:p-6 transition-transform transform hover:scale-105 hover:shadow-xl hover:bg-gray-50 duration-300">
                    <h3 class="text-base sm:text-lg md:text-xl font-semibold mb-2 text-custom-gray">Tailwind CSS</h3>
                    <p class="text-custom-gray">Utilized Tailwind CSS for consistent and efficient styling.</p>
                </div>
                <div
                    class="bg-custom-white rounded-lg shadow-lg p-4 sm:p-6 transition-transform transform hover:scale-105 hover:shadow-xl hover:bg-gray-50 duration-300">
                    <h3 class="text-base sm:text-lg md:text-xl font-semibold mb-2 text-custom-gray">Dynamic & Responsive
                        Websites</h3>
                    <p class="text-custom-gray">Developed dynamic and responsive real estate websites using AngularJS.
                    </p>
                </div>
                <div
                    class="bg-custom-white rounded-lg shadow-lg p-4 sm:p-6 transition-transform transform hover:scale-105 hover:shadow-xl hover:bg-gray-50 duration-300">
                    <h3 class="text-base sm:text-lg md:text-xl font-semibold mb-2 text-custom-gray">Tailwind CSS</h3>
                    <p class="text-custom-gray">Utilized Tailwind CSS for consistent and efficient styling...</p>
                </div>
            </div>
        </section>

        <!-- My Location Section -->
        <div class="p-4">
            <h2 class="text-2xl sm:text-3xl md:text-4xl font-semibold mb-4 sm:mb-6 md:mb-8 text-custom-purple">My
                Location</h2>
            <app-my-location></app-my-location>
        </div>

        <!-- My Experience Section -->
        <section class="fade-in p-6 sm:p-8 bg-custom-white rounded-lg shadow-lg">
            <h2 class="text-2xl sm:text-3xl md:text-4xl font-semibold mb-6 sm:mb-8 md:mb-10 text-custom-purple">My
                Experience</h2>
            <div class="space-y-6 sm:space-y-8">
                <!-- Experience Card 1 -->
                <div
                    class="bg-custom-white p-4 sm:p-6 rounded-lg shadow-md transition-transform transform hover:scale-105">
                    <div class="flex items-center mb-4">
                        <span class="material-icons text-custom-gray text-2xl sm:text-3xl mr-3 sm:mr-4">code</span>
                        <h3 class="text-base sm:text-lg md:text-xl font-bold text-custom-gray">02. Frontend Developer -
                            Ad Evolutio</h3>
                    </div>
                    <p class="text-custom-gray mb-4">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquam nisl sit amet lacus
                        volutpat,
                        vitae commodo odio tincidunt.
                    </p>
                    <p class="text-custom-gray">
                        Donec lacinia rutrum nibh faucibus malesuada. Quisque non aliquam nibh, quis laoreet magna.
                    </p>
                </div>
                <!-- Experience Card 2 -->
                <div
                    class="bg-custom-white p-4 sm:p-6 rounded-lg shadow-md transition-transform transform hover:scale-105">
                    <div class="flex items-center mb-4">
                        <span class="material-icons text-custom-gray text-2xl sm:text-3xl mr-3 sm:mr-4">code</span>
                        <h3 class="text-base sm:text-lg md:text-xl font-bold text-custom-gray">01. Junior Front-End
                            Developer - Web Creations</h3>
                    </div>
                    <p class="text-custom-gray mb-4">
                        Sed posuere ipsum at velit cursus, sed ullamcorper ligula dignissim. Nullam consectetur mi in
                        nunc
                        consequat, nec vehicula tortor sagittis.
                    </p>
                    <p class="text-custom-gray">
                        Praesent euismod, erat eget luctus scelerisque, felis orci facilisis purus, vel suscipit velit
                        elit et
                        arcu.
                    </p>
                </div>
            </div>
        </section>
    </div>
</div>