<div class="min-h-screen pt-8 pb-8 flex flex-col justify-start bg-custom-white fade-in">
    <div class="max-w-6xl mx-auto px-layout-padding">
        <h1 class="text-4xl font-bold mb-8 text-custom-purple">My Projects</h1>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
            <!-- Cards de Projetos -->
            <div class="bg-custom-white rounded-lg shadow-lg overflow-hidden transition-transform transform hover:scale-105 hover:shadow-2xl hover:bg-gray-50 fade-in"
                *ngFor="let project of projects">
                <img [src]="project.imageUrl" alt=""
                    class="w-full h-64 object-cover transition-transform duration-300 ease-in-out hover:scale-110">
                <div class="p-6">
                    <h2 class="text-2xl font-semibold mb-4 text-custom-gray">{{ project.title }}</h2>
                    <p class="text-custom-gray mb-4">
                        {{ project.description }}
                    </p>
                    <a [routerLink]="['/project', project.id]" class="text-custom-purple hover:underline">View
                        Details</a>
                </div>
            </div>
        </div>
    </div>
</div>